<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'delivery_app/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'delivery_app/css/style.css' %}">
    <title>
        Доставка еды на дом с Django
    </title>
</head>
<body>
    <div class="container">
        <header class="header">
            <a class="logo" href="{% url 'restaurants_list_url' %}">
                <img src="{% static 'delivery_app/img/icon/logo.svg' %}" alt="Logo"/>
            </a>
            <label class="address">
                <input type="text" class="input input-address" placeholder="Адрес доставки"/>
            </label>
            <div class="buttons">
                <span class="user-name"></span>
                <button class="button button-primary button-auth">
                    <span class="button-auth-svg"></span>
                    <span class="button-text">Войти</span>
                </button>
                {% if cart_total != 0 %}
                    <a class="button button-cart" id="cart-button" href="{% url 'cart' %}">
                        <span class="button-cart-svg"></span>
                        <span class="button-text">Корзина на {{cart_total}} ₽</span>
                    </a>
                {% endif %}
                <button class="button button-primary button-out">
                    <span class="button-text">Выйти</span>
                    <span class="button-out-svg"></span>
                </button>
            </div>
        </header>
    </div>

    {% block main_block %}
    {% endblock %}

    <footer class="footer">
		<div class="container">
			<div class="footer-block">
                <a class="logo" href="{% url 'restaurants_list_url' %}">
                    <img src="{% static 'delivery_app/img/icon/logo.svg' %}" alt="logo" class="logo footer-logo"/>
                </a>
				<nav class="footer-nav">
					<a href="#" class="footer-link">Ресторанам </a>
					<a href="#" class="footer-link">Курьерам</a>
					<a href="#" class="footer-link">Пресс-центр</a>
					<a href="#" class="footer-link">Контакты</a>
				</nav>
				<div class="social-links">
					<a href="#" class="social-link"><img src="{% static 'delivery_app/img/social/instagram.svg' %}" alt="instagram"/></a>
					<a href="#" class="social-link"><img src="{% static 'delivery_app/img/social/fb.svg' %}" alt="facebook"/></a>
					<a href="#" class="social-link"><img src="{% static 'delivery_app/img/social/vk.svg' %}" alt="vk"/></a>
				</div>
				<!-- /.social-links -->
			</div>
			<!-- /.footer-block -->
		</div>
	</footer>
</body>
</html>

{% block my_java_script %}
{% endblock %}