{% extends 'delivery_app/base.html' %}
{% block main_block %}

<div class="modal modal-cart">
		<div class="modal-dialog">
			<div class="modal-header">
				<h3 class="modal-title">Корзина</h3>
			</div>
			<!-- /.modal-header -->
			<div class="modal-body cart-modal-body">
				{% if cart %}
					{% for key, dish in cart.items %}
						<div class="food-row">
							<span class="food-name">{{dish.name}}</span>
							<strong class="food-price">{{dish.price}} ₽</strong>
							<div class="food-counter">
							  <a class="counter-button counter-minus" href="{% url 'cart_dish_sub_url' key %}">-</a>
							  <span class="counter">{{dish.count}}</span>
							  <a class="counter-button counter-plus" href="{% url 'cart_dish_add_url' key %}">+</a>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="food-row">
						Корзина пустая
					</div>
				{% endif %}
			</div>
			<!-- /.modal-body -->
			<div class="modal-footer">
				<span class="modal-pricetag">
					{% if cart_total %}
						{{cart_total}} ₽
					{% else %}
						- ₽
					{% endif %}
				</span>
				<div class="footer-buttons">
					<a class="button button-primary" href="{% url 'make_order' %}">Оформить заказ</a>
					<a class="button clear-cart" href="{% url 'cart_clear_url' %}">Отмена</a>
				</div>
			</div>
			<!-- /.modal-footer -->
		</div>
		<!-- /.modal-dialog -->
	</div>
{% endblock %}

{% block my_java_script %}
<!--<script>-->
<!--	let cart = '{{cart|escapejs}}';-->
<!--	cart = cart.replace(/'/g, '"');-->
<!--	cart = JSON.parse(cart);-->
<!--	console.log (cart);-->
<!--	const basket_field = document.querySelector(".cart-modal-body");-->
<!--</script>-->
{% endblock %}