{% extends 'delivery_app/base.html' %}
{% block main_block %}

<div class="modal modal-cart">
		<div class="modal-dialog">
			<div class="modal-header">
				<h3 class="modal-title">Оформление заказа</h3>
			</div>
			<!-- /.modal-header -->
			<div class="modal-body cart-modal-body">
				{% if cart %}
					{% for key, dish in cart.items %}
						<div class="food-row">
							<span class="food-name">{{dish.name}}</span>
							<strong class="food-price">{{dish.price}} ₽</strong>
							<div class="food-counter">
							  <span class="counter">{{dish.count}}</span>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="food-row">
						Корзина пустая
					</div>
				{% endif %}
			</div>
			<!-- /.modal-body -->
			<div class="modal-footer-in-order">
				<div class="modal-pricetag">
					{% if cart_total %}
						{{cart_total}} ₽
					{% else %}
						- ₽
					{% endif %}
				</div>
			</div>
			<!-- /.modal-footer -->
            <div class="modal-header">
				<h4 class="form-address-header">Информация о доставке</h4>
			</div>
			<form action="" method="post" class="form-address">
				{% csrf_token %}
				{% for field in form %}
                <div class="form-address-error">
                    {{ field.errors }}
                </div>
                    <div class="form-address-row">
                        <div class="form-address-label">
                            {{field.label}}
                        </div>
                        {{field}}
                    </div>
				{% endfor %}
                <input type="submit" value="Оформить заказ" class="button">
			</form>
		</div>

		<!-- /.modal-dialog -->
	</div>
{% endblock %}